<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawSome</title>
    <link rel="icon" type="image/png" href="./image/t1-logo.png ">
    <link rel="stylesheet" href="./css/style.css"> 
    <link rel="stylesheet" href="./css/bootstrap.min.css"> 
    <script src="script.js" defer></script>
</head>
<body>
   <section class="vh-100 master">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block gif-holder">
              <img src="./image/pet.gif" alt="login form" class="img-fluid">
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form>
                  <div class="logo d-flex align-items-center mb-3 pb-1 ">
                      <img src="./image/logotext.png">
                  </div>

                  <h5 class="h5-head fw-normal mb-3 pb-3">Sign into your account</h5>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example17">Email address</label>
                    <input placeholder="petslover@gmail.com" type="email" id="form2Example17" class="form-control form-control-lg" />
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example27">Password</label>
                    <input  placeholder="********" type="password" id="form2Example27" class="form-control form-control-lg" />
                  </div>

                  <div class="pt-1 mb-4">
                    <button type="button" class="btn btn-primary">Login</button>
                  </div>

                  <a class="small text-muted" href="#!">Forgot password?</a>
                  <p class="mb-5 pb-lg-2"> Don't have an account? <a href="#">Register here</a></p>
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 
</body>
</html>


