{% extends "layouts/base.html" %}

{% load i18n static %}

{% block title %} Home {% endblock title %}

{% load custom_filters %}

{% load humanize %}

{% block content %}
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">weekend</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Today's Sale</p>
                <h4 class="mb-0">NPR. {{ total_sales_today|intcomma }}/-</h4>

              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+55% </span>than last week</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">person</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Orders Today</p>
                <h4 class="mb-0">{{ total_daily_orders|k_format }}</h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+3% </span>than last month</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">person</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Total Customers</p>
                <h4 class="mb-0">{{ total_customers }}</h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-danger text-sm font-weight-bolder">-2%</span> than yesterday</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">weekend</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Total Sales</p>
                <h4 class="mb-0">NPR. {{ total_cost|floatformat:2 }}/-</h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+5% </span>than yesterday</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-6 col-md-6 mt-4 mb-4">
          <div class="card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="chart-bars" class="chart-canvas" height="300"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">Products Sold</h6>
              <i class="material-icons opacity-10">shopping_basket</i>
              <hr class="dark horizontal">
              <form method="get" action="{% url 'vendor' %}">
                <!-- Hidden input to keep the current timeframe value for "Customers Orders" -->
                <input type="hidden" name="timeframe_customers" value="{{ request.GET.timeframe_customers }}">

                <select name="timeframe_products" onchange="this.form.submit()">
                  <option value="daily_desc" {% if request.GET.timeframe_products == "daily_desc" %}selected{% endif %}>Daily</option>
                  <option value="weekly_asc" {% if request.GET.timeframe_products == "weekly_asc" %}selected{% endif %}>Weekly</option>
                  <option value="monthly_asc" {% if request.GET.timeframe_products == "monthly_asc" %}selected{% endif %}>Monthly</option>
                  <option value="yearly_asc" {% if request.GET.timeframe_products == "yearly_asc" %}selected{% endif %}>Yearly</option>
              </select>              
            </form>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-4 mb-4">
          <div class="card z-index-2">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                  <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
                      <div class="chart">
                          <canvas id="chart-line" class="chart-canvas" height="300"></canvas>
                      </div>
                  </div>
              </div>
              <div class="card-body">
                  <h6 class="mb-0"> Customers Orders</h6>
                  <i class="material-icons opacity-10">person</i>
                  <hr class="dark horizontal">
                  <form method="get" action="{% url 'vendor' %}">
                    <!-- Hidden input to keep the current timeframe value for "Products Sold" -->
                    <input type="hidden" name="timeframe_products" value="{{ request.GET.timeframe_products }}">
                    <input type="hidden" name="timeframe_sales" value="{{ request.GET.timeframe_sales }}">
                    <select name="timeframe_customers" onchange="this.form.submit()">
                      <option value="daily_desc" {% if request.GET.timeframe_customers == "daily_desc" %}selected{% endif %}>Daily</option>
                      <option value="weekly_asc" {% if request.GET.timeframe_customers == "weekly_asc" %}selected{% endif %}>Weekly</option>
                      <option value="monthly_asc" {% if request.GET.timeframe_customers == "monthly_asc" %}selected{% endif %}>Monthly</option>
                      <option value="yearly_asc" {% if request.GET.timeframe_customers == "yearly_asc" %}selected{% endif %}>Yearly</option>
                    </select>
                </form>
              </div>
          </div>
      </div>
      <div class="col-lg-8 mt-4 mb-3">
        <div class="card z-index-2">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
                    <div class="chart">
                        <canvas id="chart-line-tasks" class="chart-canvas" height="300"></canvas>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h6 class="mb-0">Total Sales</h6>
                <i class="material-icons text-sm my-auto me-1">show_chart</i>
                <hr class="dark horizontal">
                <form method="get" action="{% url 'vendor' %}">
                    <!-- Hidden input to keep the current timeframe value for "Products Sold" -->

                    <input type="hidden" name="timeframe_customers" value="{{ request.GET.timeframe_customers }}">
                    <select id="timeframe_sales" name="timeframe_sales" onchange="this.form.submit()">
                        <option value="daily_desc" {% if request.GET.timeframe_sales == "daily_desc" %}selected{% endif %}>Daily</option>
                        <option value="weekly_asc" {% if request.GET.timeframe_sales == "weekly_asc" %}selected{% endif %}>Weekly</option>
                        <option value="monthly_asc" {% if request.GET.timeframe_sales == "monthly_asc" %}selected{% endif %}>Monthly</option>
                        <option value="yearly_asc" {% if request.GET.timeframe_sales == "yearly_asc" %}selected{% endif %}>Yearly</option>
                    </select>
                </form>
            </div>
        </div>    
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card h-100">
          <div class="card-header pb-0">
              <h6>{% trans 'Recent actions' %}</h6>
              <p class="text-sm">
                  <i class="fa fa-arrow-down text-success" aria-hidden="true"></i>
                  <span class="font-weight-bold">{% trans 'My actions' %}</span>
              </p>
          </div>
          <div class="card-body p-3">
              <div class="timeline timeline-one-side">
                  {% load log %}
                  {% get_admin_log 6 as admin_log for_user user %}
                  {% if admin_log %}
                      {% for entry in admin_log %}
                          <div class="timeline-block mb-3">
                              <span class="timeline-step">
                                  {% if entry.is_addition %}
                                      <span class="fa fa-plus-circle text-success text-gradient"></span>
                                  {% endif %}
                                  {% if entry.is_change %}
                                      <span class="fa fa-edit text-warning text-gradient"></span>
                                  {% endif %}
                                  {% if entry.is_deletion %}
                                      <span class="fa fa-trash text-danger text-gradient"></span>
                                  {% endif %}
                              </span>
                              <div class="timeline-content">
                                  <h6 class="text-dark text-sm font-weight-bold mb-0">
                                      {% if entry.content_type %}
                                          {% filter capfirst %}{{ entry.content_type }}{% endfilter %}
                                      {% else %}
                                          {% trans 'Unknown content' %}
                                      {% endif %}
                                  </h6>
                                  <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{ entry.object_repr }}</p>
                              </div>
                          </div>
                      {% endfor %}
                  {% else %}
                      <p>{% trans 'None available' %}</p>
                  {% endif %}
              </div>
          </div>
      </div>
  </div>
    </div>
      </div>
      
{% endblock content %}

{% block scripts %}

{{ costs_based_on_quantity|json_script:"costs_data" }}
{{ sales_labels_products|json_script:"sales_labels_data" }}

<script>

var ctx = document.getElementById("chart-bars").getContext("2d");

    // Sort the data by quantity in descending order
    var sortedData = {{ quantities|safe }}.sort((a, b) => b - a);

    // Slice the sorted data to include only the top 5 data points
    var top5Data = sortedData.slice(0, 5);

    // Get the labels for the top 5 data points
    var top5Labels = {{ products|safe }}.slice(0, 5);

    // Truncate the labels to a maximum length of 8 characters
    var truncatedLabels = top5Labels.map(label => label.slice(0, 8));

    new Chart(ctx, {
        type: "bar",
        data: {
            labels: truncatedLabels,
            datasets: [{
                label: "Sales",
                tension: 0.4,
                borderWidth: 0,
                borderRadius: 4,
                borderSkipped: false,
                backgroundColor: "rgba(255, 255, 255, .8)",
                data: top5Data,
                maxBarThickness: 6
            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                }
            },
            interaction: {
                intersect: false,
                mode: 'index',
            },
            scales: {
                y: {
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: 'rgba(255, 255, 255, .2)'
                    },
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 500,
                        beginAtZero: true,
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                        color: "#fff"
                    },
                },
                x: {
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: 'rgba(255, 255, 255, .2)'
                    },
                    ticks: {
                        display: true,
                        color: '#f8f9fa',
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
            },
        },
    });


    var ctx2 = document.getElementById("chart-line").getContext("2d");

// Sort the data by order counts in descending order
var sortedData2 = {{ order_counts|safe }}.sort((a, b) => b - a);

// Slice the sorted data to include only the top 5 data points
var top5Data2 = sortedData2.slice(0, 5);

// Get the labels for the top 5 data points
var top5Labels2 = {{ customer_names|safe }}.slice(0, 5);

// Truncate the labels to a maximum length of 8 characters
var truncatedLabels2 = top5Labels2.map(label => label.slice(0, 8));

new Chart(ctx2, {
    type: "bar",
    data: {
        labels: truncatedLabels2, // Use truncated labels
        datasets: [{
            label: "Products",
            tension: 0,
            borderWidth: 0,
            pointRadius: 5,
            pointBackgroundColor: "rgba(255, 255, 255, .8)",
            pointBorderColor: "transparent",
            borderColor: "rgba(255, 255, 255, .8)",
            borderWidth: 4,
            backgroundColor: "transparent",
            fill: true,
            data: top5Data2,
            maxBarThickness: 6
        }],
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
            legend: {
                display: false,
            }
        },
        interaction: {
            intersect: false,
            mode: 'index',
        },
        scales: {
            y: {
                grid: {
                    drawBorder: false,
                    display: true,
                    drawOnChartArea: true,
                    drawTicks: false,
                    borderDash: [5, 5],
                    color: 'rgba(255, 255, 255, .2)'
                },
                ticks: {
                    display: true,
                    color: '#f8f9fa',
                    padding: 10,
                    font: {
                        size: 14,
                        weight: 300,
                        family: "Roboto",
                        style: 'normal',
                        lineHeight: 2
                    },
                }
            },
            x: {
                grid: {
                    drawBorder: false,
                    display: true,
                    drawOnChartArea: true,
                    drawTicks: false,
                    borderDash: [5, 5],
                    color: 'rgba(255, 255, 255, .2)'
                },
                ticks: {
                    display: true,
                    color: '#f8f9fa',
                    padding: 10,
                    font: {
                        size: 14,
                        weight: 300,
                        family: "Roboto",
                        style: 'normal',
                        lineHeight: 2
                    },
                }
            },
        },
    },
});

    var costsData = JSON.parse(document.getElementById('costs_data').textContent);
    var salesLabelsData = JSON.parse(document.getElementById('sales_labels_data').textContent);  // Get the serialized sales labels

    console.log(costsData);  // logging for debugging purposes

    // Get the canvas context
    var ctx3 = document.getElementById("chart-line-tasks").getContext("2d");

    new Chart(ctx3, {
        type: "line",
        data: {
            labels: salesLabelsData,  // Use the salesLabelsData for the x-axis labels
            datasets: [{
                label: "Sales",
                tension: 0,
                borderWidth: 0,
                pointRadius: 5,
                pointBackgroundColor: "rgba(255, 255, 255, .8)",
                pointBorderColor: "transparent",
                borderColor: "rgba(255, 255, 255, .8)",
                borderWidth: 4,
                backgroundColor: "transparent",
                fill: true,
                data: costsData,
                maxBarThickness: 6
            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                }
            },
            interaction: {
                intersect: false,
                mode: 'index',
            },
            scales: {
                y: {
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: 'rgba(255, 255, 255, .2)'
                    },
                    ticks: {
                        display: true,
                        padding: 10,
                        color: '#f8f9fa',
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
                x: {
                    grid: {
                        drawBorder: false,
                        display: false,
                        drawOnChartArea: false,
                        drawTicks: false,
                        borderDash: [5, 5]
                    },
                    ticks: {
                        display: true,
                        color: '#f8f9fa',
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
            },
        },
    });
</script>

{% endblock scripts %}