{% extends 'base.html' %} {% block content %}

{% load humanize %}

<div class="shoppingCart">
 <h2>My Cart</h2>

  <div class="heading">
    <div class="p_name"><h4>Product's Name</h4></div>
    <div class="name"><h4>Quantity</h4></div>
    <div class="name"><h4>Unit Price</h4></div>
    <div class="name"><h4>Price</h4></div>
  </div>

  <div class="itemContainer">

    {% for item in items %}
    <div class="item">
      <div class="iteminfo">
        <div class="p_img">
          <img src="{{item.product.picture.url}}" alt="" />
        </div>
        <p>{{item.product.name}}</p>
      </div>

      <div class="name"><p>{{item.quantity}}</p></div>
      <div class="name"><p>Rs.{{item.product.price | intcomma}}</p></div>
      <div class="name"><p>Rs.{{item.price | intcomma}}</p></div>
      <td>
        <a href="{% url 'managecart' item.id %}?action=inc" class="btn btn-primary"> + </a>
        <a href="{% url 'managecart' item.id %}?action=dcr" class ="btn btn-warning"> - </a>
        <a href="{% url 'managecart' item.id %}?action=rmv" class ="btn btn-danger"> x </a>
      </td>
    </div>

    {% endfor %}
  </div>

  <div class="pay-section">
    <h3>Grand-Total: Rs.{{cart.total_price | intcomma}}</h3>
    <th><a class="btn btn-info" href="{% url 'checkout' %}"> Checkout </a></th>
  </div>
</div>
{% endblock content %}