{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<div class="container">
    <h2>Dog Products</h2>
    
    <!-- Links to Subcategories -->
    <div class="subcategories">
        <ul>
            <li><a href="{% url 'pens_products' %}">Pens</a></li>
            <li><a href="{% url 'beds_products' %}">Beds</a></li>
            <li><a href="{% url 'crates_products' %}">Crates</a></li>
            <li><a href="{% url 'gates_products' %}">Gates</a></li>
            <li><a href="{% url 'cameras_products' %}">Cameras</a></li>
            <li><a href="{% url 'treats_products' %}">Treats</a></li>
            <li><a href="{% url 'food_products' %}">Food</a></li>
            <li><a href="{% url 'bowls_feeders_products' %}">Bowls & Feeders</a></li>
            <li><a href="{% url 'food_storage_accessories_products' %}">Food Storage & Accessories</a></li>
            <li><a href="{% url 'toys_products' %}">Toys</a></li>
            <li><a href="{% url 'collar_leashes_products' %}">Collar & Leashes</a></li>
            <li><a href="{% url 'training_aids_products' %}">Training Aids</a></li>
            <li><a href="{% url 'vitamins_supplements_products' %}">Vitamins & Supplements</a></li>
            <li><a href="{% url 'grooming_supplies_products' %}">Grooming Supplies</a></li>
        </ul>
    </div>
</div>
{% endblock content %}
