{% extends 'base.html' %}

{% load humanize %}

{% block content %}

{% if request.user.is_authenticated %}
<h3>
    <a href="{% url 'customerprofile' %}" style="color:#3498db;">My Profile</a> |
    <a href="logout/success" style="color:#3498db;">Logout</a>
</h3>
{%endif%}
    
    <div class="container">
        
        {% for product in products  %}

        <div class="productContainer">
            <div class="thumbnail">
                <img src="{{product.picture.url}}" alt="">
            </div>

            <div class="action">

                <p>{{product.name}}</p>

                <p>Rs.{{product.price | intcomma}}</p>
                
                {% if request.user.is_authenticated %} 
                <button value="{{product.id}}">Add to Cart</button>
                {% else %}
                <h3><a href="{% url 'login' %}" style="background-color: #6050DC;
                        width: 200px;
                        /* height: auto; */
                        padding: 10px 60px 5px 60px;
                        color: white;
                        border: none;
                        font-size: 16px;
                        cursor: pointer;
                        border-radius: 5px;
                        margin: auto;">Add to Cart</a></h3>
                {% endif %}

            </div>
           
        </div> 
        
        {% endfor %}

    </div>

{% endblock content %}
    