{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">New Pet Parent Guide</h2>
    <div class="row mt-4">
        <div class="col-md-6">
            <h4>Getting Started</h4>
            <p>Welcome to the world of pet parenting! Here are some resources to help you get started:</p>
            <ul>
                <li><a href="#">Choosing the right pet</a></li>
                <li><a href="#">Basic pet care essentials</a></li>
                <li><a href="#">Training your new pet</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h4>Product Recommendations</h4>
            <p>Here are some essential products for new pet owners:</p>
            <ul>
                <li><a href="#">Pet food</a></li>
                <li><a href="#">Toys</a></li>
                <li><a href="#">Grooming essentials</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
