<!DOCTYPE html>
<head>
    <title>Fetch Data From Database</title>
</head>
<body>
    <centre>
        <h1>Welcome to PawSome</h1>
        <h2>Products List</h2>
        <h3>
            <a href="logout/success" style="color:#3498db;">Logout</a>
        </h3>
        <hr/>
        <table boarder = "1">
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Pet Type</th>
                <th>Product Brand</th>
                <th>Product Picture</th>
            </tr>
            {% for results in data %}
            <tr>
                <td>{{results.id}}</td>
                <td>{{results.product_name}}</td>
                <td>{{results.product_price}}</td>
                <td>{{results.pet_type}}</td>
                <td>{{results.product_brand}}</td>
                <td>{{results.product_picture}}</td>
                <td><img src={{results.product_picture.url}} alt={{results.product_name}} style="width:500px;height:600px;"></td>
            </tr>
            {% endfor %}
        </table>
    </centre>
</body>