{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Shop By Pet</h2>
    <div class="row mt-4">
        <div class="col-md-4 text-center">
            <a href="{% url 'dog_products' %}" class="category-link">
                <h4>Dogs</h4>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a href="{% url 'cat_products' %}" class="category-link">
                <h4>Cats</h4>
            </a>
        </div>
        <!-- Add more categories as needed -->
    </div>
</div>
{% endblock content %}
